#flex_first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#flex_second {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    display: flex;
    flex-direction: column;
}

#hair {
    display: flex;
    flex-direction: column;
}

#cookie {
    display: flex;
    flex-direction: column;
}

#color {
    border-radius: 10px;
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 1300px) {

}